version: '3'
services:
  nginx:
    container_name: proxyServer
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - .:/code
      - ./etc/nginx.conf:/etc/nginx/nginx.conf
      - ./etc/default.conf:/etc/nginx/conf.d/nginx.conf
    depends_on:
      - web
  web:
    container_name: djangoServer
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - .:/code
    ports:
      - "8000:8000"